*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #434343;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1024%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1435.386%2c518.421C1474.401%2c517.944%2c1500.476%2c484.057%2c1521.403%2c451.126C1544.696%2c414.472%2c1572.041%2c372.611%2c1552.782%2c333.686C1532.147%2c291.98%2c1481.912%2c276.538%2c1435.386%2c277.278C1390.274%2c277.996%2c1344.781%2c297.127%2c1324.287%2c337.322C1305.153%2c374.849%2c1323.623%2c417.369%2c1345.65%2c453.274C1366.366%2c487.043%2c1395.772%2c518.905%2c1435.386%2c518.421' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M151.90762361561005 416.3452530578L220.28805519789205 306.9136872859449 110.85648942603697 238.53325570366292 42.47605784375497 347.96482147551797z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M510.6%2c281.849C552.456%2c281.199%2c599.793%2c280.592%2c621.824%2c244.998C644.615%2c208.176%2c631.623%2c160.839%2c607.942%2c124.583C586.574%2c91.868%2c549.66%2c75.807%2c510.6%2c74.711C469.171%2c73.549%2c426.509%2c84.495%2c403.317%2c118.843C377.307%2c157.364%2c367.671%2c209.724%2c393.224%2c248.55C417.188%2c284.961%2c467.016%2c282.526%2c510.6%2c281.849' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M358.104%2c530.846C383.452%2c529.777%2c404.292%2c514.662%2c418.662%2c493.753C435.887%2c468.688%2c454.882%2c438.026%2c440.196%2c411.394C425.263%2c384.312%2c388.931%2c381.456%2c358.104%2c383.932C332%2c386.028%2c309.664%2c400.591%2c296.062%2c422.969C281.825%2c446.391%2c274.335%2c475.505%2c288%2c499.265C301.695%2c523.078%2c330.658%2c532.004%2c358.104%2c530.846' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1263.337%2c78.289C1277.333%2c77.231%2c1288.367%2c68.327%2c1296.106%2c56.617C1305.013%2c43.138%2c1314.103%2c27.022%2c1306.711%2c12.656C1298.922%2c-2.481%2c1280.357%2c-7.403%2c1263.337%2c-7.069C1246.973%2c-6.748%2c1231.383%2c0.358%2c1222.814%2c14.302C1213.824%2c28.93%2c1211.512%2c47.809%2c1220.698%2c62.315C1229.401%2c76.058%2c1247.116%2c79.515%2c1263.337%2c78.289' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M416.78177919851555 249.02385890231074L462.9049306823951 134.86505302643212 348.7461248065165 88.74190154255254 302.62297332263694 202.90070741843118z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M765.1343394504293 297.8726502312942L772.4921840875039 403.09473075483777 877.7142646110475 395.73688611776305 870.3564199739728 290.5148055942195z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M120.15856871865938 245.4470121267635L30.47020629693165 323.41191611642665 198.12347270832254 335.1353745484912z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1459.9%2c443.555C1520.369%2c447.743%2c1575.093%2c409.512%2c1606.061%2c357.406C1637.76%2c304.071%2c1647.694%2c236.162%2c1614.203%2c183.934C1582.647%2c134.723%2c1518.294%2c126.702%2c1459.9%2c129.473C1407.272%2c131.971%2c1354.333%2c151.249%2c1329.039%2c197.467C1304.553%2c242.209%2c1321.104%2c294.296%2c1345.051%2c339.329C1371.066%2c388.251%2c1404.623%2c439.727%2c1459.9%2c443.555' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M524.482%2c258.824C542.987%2c258.137%2c557.255%2c243.86%2c565.68%2c227.37C573.306%2c212.444%2c573.048%2c194.898%2c564.516%2c180.471C556.141%2c166.309%2c540.93%2c157.29%2c524.482%2c157.71C508.696%2c158.113%2c496.377%2c169.144%2c487.841%2c182.429C478.324%2c197.241%2c470.009%2c214.765%2c477.623%2c230.639C486.072%2c248.255%2c504.958%2c259.549%2c524.482%2c258.824' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1025.5857425509466-43.51449014792051L1011.4543814835046 90.93642928193539 1145.9053009133604 105.06779034937746 1160.0366619808026-29.383129080478426z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1374.0334364802206 431.8355258088405L1305.2644037857904 321.78206825919074 1195.2109462361407 390.5511009536211 1263.979978930571 500.6045585032708z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M630.5600987932188 329.3836710137278L721.9022752820715 324.59663038906734 625.7730581685584 238.04149452487508z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M641.576690440405 394.7485384849175L541.7495887220726 403.4822781979209 550.483328435076 503.30937991625314 650.3104301534083 494.5756402032498z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M248.8930412156938 74.60537909015746L208.02737507237288 170.8788553548637 304.30085133707917 211.7445214981846 345.16651748040005 115.47104523347838z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1088.994012052263 280.93692446690864L964.2637505145008 186.94593071474705 995.0030183001015 405.66718600467095z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M295.5119900771643 81.16157267182665L206.9186652395341 62.33048015742463 188.08757272513208 150.9238049950548 276.68089756276225 169.75489750945684z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M711.665%2c76.42C726.89%2c77.051%2c739.922%2c66.222%2c747.203%2c52.836C754.153%2c40.059%2c753.372%2c25.019%2c746.633%2c12.129C739.293%2c-1.91%2c727.49%2c-14.401%2c711.665%2c-15.135C694.733%2c-15.921%2c677.817%2c-6.729%2c670.584%2c8.6C664.067%2c22.412%2c672.978%2c37.024%2c680.89%2c50.086C688.387%2c62.463%2c697.206%2c75.82%2c711.665%2c76.42' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M874.927%2c463.357C894.933%2c462.145%2c912.692%2c451.102%2c922.502%2c433.624C932.1%2c416.523%2c931.793%2c395.961%2c922.421%2c378.736C912.59%2c360.666%2c895.496%2c346.444%2c874.927%2c346.183C853.962%2c345.917%2c836.416%2c359.727%2c825.296%2c377.502C813.318%2c396.65%2c804.894%2c420.51%2c816.198%2c440.064C827.495%2c459.606%2c852.396%2c464.722%2c874.927%2c463.357' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M787.397%2c92.648C809.51%2c93.18%2c828.663%2c77.399%2c838.389%2c57.533C847.079%2c39.784%2c841.06%2c19.926%2c831.459%2c2.653C821.488%2c-15.287%2c807.922%2c-34.162%2c787.397%2c-34.211C766.82%2c-34.26%2c752.53%2c-15.778%2c742.968%2c2.442C734.203%2c19.143%2c732.152%2c38.256%2c740.486%2c55.176C749.963%2c74.419%2c765.953%2c92.132%2c787.397%2c92.648' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1024'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}
p{
    cursor: pointer;
    font-size: 25px;
    transition: all ease-in-out .5s;
}

h1:hover,
p:hover{
    color: limegreen;
}

h1:active,
p:active{
    color: pink;
}

.title{
    user-select: none;
    color: gainsboro;
}
.subtitle{
    color: #aaa6a6;
}

.countDiv{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;
    background-color: blue;
}

@media screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
    .cardContainer{
        display: grid;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    .author{
        display: none;
    }
}